@use 'color-picker';

.card-config {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.side-by-side {
  display: flex;
  gap: 16px;

  > * {
    flex: 1;
  }
}

.entities-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &.drag-active .entity-row:not(.is-dragging) > * {
    pointer-events: none;
  }
}

.entity-row {
  align-items: center;
  border-radius: 4px;
  display: flex;
  gap: 8px;
  padding: 4px;
  transition: background-color 0.2s ease-in-out;

  ha-entity-picker {
    flex-grow: 1;
  }

  > ha-icon-button {
    margin-left: auto;
  }

  .drag-handle {
    color: var(--secondary-text-color);
    cursor: move;
  }

  &.is-dragging {
    background: rgba(var(--rgb-primary-color), 0.1);
    opacity: 0.5;
  }

  &.drag-over {
    background: rgba(var(--rgb-accent-color), 0.1);
  }
}

.header {
  align-items: center;
  display: flex;
  gap: 8px;

  .title {
    font-size: 1.2em;
    font-weight: bold;
  }
}

.option-group {
  border: 1px solid var(--divider-color);
  border-radius: var(--ha-card-border-radius, 4px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  &-title {
    align-items: center;
    border-top: 1px solid var(--divider-color);
    color: var(--primary-text-color);
    display: flex;
    font-weight: bold;
    gap: 4px;
    justify-content: space-between;
    padding-top: 1em;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }
  }
}

.option-sub-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.option-row {
  align-items: center;
  display: flex;
  gap: 16px;
}

.label-with-help {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.radio-label {
  align-items: center;
  display: inline-flex;
}

.help-icon {
  color: var(--secondary-text-color);
  cursor: pointer;
}

.help-text {
  color: var(--secondary-text-color);
  font-size: 12px;
  margin-top: -8px;
  padding-left: 52px;

  &.no-indent {
    margin-top: 0;
    padding-left: 0;
  }
}

.duration-with-test-button {
  align-items: center;
  display: flex;
  gap: 8px;

  ha-textfield {
    flex-grow: 1;
  }

  ha-button {
    --mdc-button-padding-horizontal: 8px;
    flex-shrink: 0;
  }
}

.button-row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
